.container,
.verticalContainer,
.editor,
.column {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
}

.verticalContainer {
	display: flex;
	flex-direction: column;
}

.fullRow {
	width: 100%;
}

.column {
	width: 50%;
}

.row {
	height: 50%;
}

.leftColumn {
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: darkgray;
}

.rightColumn {
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: darkgray;
}

.topRow {
	z-index: 1;
	position: sticky;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: darkgray;
}

.bottomRow {
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: darkgray;
}

.selected {
	filter: brightness(125%);

	animation-duration: 0.25s;
	animation-name: select;
}

.unselected {
	filter: brightness(90%);

	animation-duration: 0.25s;
	animation-name: unselect;
}

@keyframes select {
	from {
		filter: brightness(90%);
	}

	to {
		filter: brightness(125%);
	}
}

@keyframes unselect {
	from {
		filter: brightness(125%);
	}

	to {
		filter: brightness(90%);
	}
}

.closePinButton {
	z-index: 10;
	position: absolute;
	right: 8px;
	top: 8px;
}

.handle {
	position: absolute;
	user-select: none;
	z-index: 10;
}
