.navbar {
	height: 48px; /* (tied to PlayScreen.module.css) */
	position: fixed;
	width: 100%;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: darkgray;
	box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(200, 200, 200, 0.6);
	font-family: "Courier New", Courier, monospace;
	user-select: none;

	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: small;
}

.item {
	display: flex;
	margin: 4px 8px 4px 8px;
	align-items: center;
}

.text {
	height: 14px;
}
