.progressList {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.level {
	border-width: 1px;
	border-color: white;
	border-style: solid;
	width: 100%;
	height: 8px;
	background-color: #ecf0f1;
	text-align: center;
	margin: 0 1px 0 1px;
	border-radius: 2px;
	cursor: pointer;
}

.success {
	background-color: #5cb85c;
}

.failure {
	background-color: #d9534f;
}

.locked {
	background-color: #acacac;
	cursor: not-allowed;
}

.selected {
	filter: brightness(2) drop-shadow(0px 0px 4px #ffffff);
}

.highlight {
	background-color: #27afd7;
}
