.container {
	height: calc(100% - 40px); /* (tied to NavBar.module.css) */
}

.message {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: monospace;
	font-size: xx-large;
	user-select: none;
}
