.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	animation: fadein 5s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bar {
	width: 100%;
	height: 41.5px; /* (tied to HorizontalDragList.js and Tab.module.css) */
	border-width: 0 0 1px;
	border-style: solid;
	border-color: darkgray;
	box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(200, 200, 200, 0.6);
	font-family: "Courier New", Courier, monospace;
	user-select: none;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 16px;
	padding-right: 48px;
	font-size: small;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.video {
	height: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	aspect-ratio: 1;
	overflow: hidden;
	border: 4px dashed #577295;
	border-radius: 8px;
}

.stream {
	position: relative;
	width: 100%;
	height: 100%;

	animation: noise 5s infinite;
}

.zoom {
	animation: zoomin, zoomloop infinite;
	animation-duration: 3s, 5s;
	animation-delay: 0s, 3s;
	transform: scale(1.3);
}

.megazoom {
	animation: megazoomin 1s;
	transform: scale(1.8) translateX(-24px) translateY(24px);
}

.megazoomout {
	animation: megazoomout, zoomloop infinite;
	animation-duration: 1s, 5s;
	animation-delay: 0s, 1s;
	transform: scale(1.3);
}

@keyframes noise {
	0% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	10% {
		filter: brightness(98%) contrast(102%) saturate(98%);
	}
	20% {
		filter: brightness(102%) contrast(98%) saturate(102%);
	}
	30% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	40% {
		filter: brightness(98%) contrast(102%) saturate(98%);
	}
	50% {
		filter: brightness(102%) contrast(98%) saturate(102%);
	}
	60% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	70% {
		filter: brightness(98%) contrast(102%) saturate(98%);
	}
	80% {
		filter: brightness(102%) contrast(98%) saturate(102%);
	}
	90% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
	100% {
		filter: brightness(100%) contrast(100%) saturate(100%);
	}
}

@keyframes zoomin {
	0% {
		transform: scale(1);
	}
	25% {
		transform: rotateZ(-10deg) scale(1.2);
	}
	75% {
		transform: rotateZ(10deg) scale(1.25);
	}
	100% {
		transform: rotateZ(0) scale(1.3);
	}
}

@keyframes zoomloop {
	0% {
		transform: scale(1.3);
	}
	50% {
		transform: scale(1.31);
	}
	100% {
		transform: scale(1.3);
	}
}

@keyframes megazoomin {
	0% {
		transform: scale(1.3) translateX(0) translateY(0);
	}
	100% {
		transform: scale(1.8) translateX(-24px) translateY(24px);
	}
}

@keyframes megazoomout {
	0% {
		transform: scale(1.8) translateX(-24px) translateY(24px);
	}
	100% {
		transform: scale(1.3) translateX(0) translateY(0);
	}
}

.backgroundImage {
	width: 100%;
	height: 100%;
	user-select: none;
	pointer-events: none;
}

.pointLight {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	animation: lightflicker 3s infinite;
}

@keyframes lightflicker {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.45;
	}
	100% {
		opacity: 0;
	}
}
