.container {
	height: 100%;
	user-select: none;
	color: white;
	font-family: "Courier New", Courier, monospace;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px;
	transform-origin: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registers {
	width: 125px !important;
	text-align: center;
}

.name {
	color: #9bc0e9 !important;
}

.memory {
	width: 0px !important;
	margin-left: 16px !important;
	font-size: x-small;
	white-space: nowrap;
}
