.container {
	height: 100%;
	user-select: none;
	color: white;
	font-family: "Courier New", Courier, monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	transform-origin: center;
}

.registers {
	width: 125px !important;
	text-align: center;
}

.name {
	color: #9bc0e9 !important;
}
