@keyframes flicker {
	0% {
		opacity: 0.93774;
	}
	5% {
		opacity: 0.46284;
	}
	10% {
		opacity: 0.60931;
	}
	15% {
		opacity: 0.11454;
	}
	20% {
		opacity: 0.71232;
	}
	25% {
		opacity: 0.36761;
	}
	30% {
		opacity: 0.01071;
	}
	35% {
		opacity: 0.03038;
	}
	40% {
		opacity: 0.69063;
	}
	45% {
		opacity: 0.89776;
	}
	50% {
		opacity: 0.94394;
	}
	55% {
		opacity: 0.27182;
	}
	60% {
		opacity: 0.36769;
	}
	65% {
		opacity: 0.69672;
	}
	70% {
		opacity: 0.34962;
	}
	75% {
		opacity: 0.85437;
	}
	80% {
		opacity: 0.64358;
	}
	85% {
		opacity: 0.30387;
	}
	90% {
		opacity: 0.51786;
	}
	95% {
		opacity: 0.78824;
	}
	100% {
		opacity: 0.69383;
	}
}
.crt {
	background: #121010;
	position: relative;
	overflow: hidden;
}
.crt::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
}
.crt::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06)
		);
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

.screen {
	width: 100%;
	height: 100%;
	border: none;
}

/* .crt::after {
	animation: flicker 0.15s infinite;
} */
