/* Global */

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	overflow: hidden;

	background-color: black;
	color: white;
	font-family: "Open Sans";
}

#container,
#root {
	height: 100%;
}

.embed-image {
	display: flex;
	justify-content: center;
	pointer-events: none;
	margin-top: 8px;
	margin-bottom: 8px;
}

.link-button {
	background-color: transparent;
	color: var(--bs-link-color);
	border: none;
	cursor: pointer;
	text-decoration: underline;
	display: inline;
	margin: 0;
	padding: 0;
}

.link-button:hover {
	color: var(--bs-link-hover-color);
}

/* Effects */

.earthquake {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
	pointer-events: none;
}

.slow-earthquake {
	animation: shake 1s;
	animation-iteration-count: infinite;
	pointer-events: none;
}

.blink {
	animation: blinker 0.5s step-start infinite;
}

.running {
	animation: pulse 1.5s ease-in-out infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

/* Dictionary entries */

.dictionary-entry-name {
	color: #d4d5de;
}

code {
	.dictionary-link {
		color: inherit;
	}
}

.dictionary-link {
	color: #bdbfc9;
}

.dictionary-link:hover {
	color: #e2e5ff;
}

/* Bootstrap */

:root {
	--bs-code-color: #c39f79;
}

.modal-lg {
	--bs-modal-width: 650px;
}

.form-control {
	background-color: #435c69 !important;
	color: white !important;
}

::placeholder {
	color: rgb(184, 189, 197) !important;
}

.bs-tooltip-top {
	z-index: 1055;
}

/* MUI */

.navbar-volume-slider > .MuiSlider-thumb:before,
.menu-volume-slider > .MuiSlider-thumb:before,
.emu-volume-slider > .MuiSlider-thumb:before {
	content: "🎵";
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 14px;
	width: 14px;
	line-height: 14px;
}

.emu-volume-slider > .MuiSlider-thumb:before {
	content: "🔊";
}

.MuiTooltip-popper {
	user-select: none !important;
	pointer-events: none !important;
}

/* CodeMirror */

.cm-theme {
	width: 100%;
}

.cm-gutters {
	user-select: none;
}

.cm-gutter-lint {
	border-right: 1px dashed #577295;
}

.cm-tooltip {
	left: 55px !important;
	/* // HACK: No idea what I'm doing */
}

/* Xterm.js */

.xterm {
	padding: 8px;
}

/* Custom scrollbar */

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(153, 153, 153, 0.3);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(188, 188, 188, 0.5);
}

/* Markdown */

.markdown-view h4 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.markdown-view h5 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.markdown-view h6 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.markdown-view table {
	margin-top: 16px;
}

.markdown-view th {
	border: 1px solid #577295;
	padding: 4px;
}

.markdown-view td {
	border: 1px solid #577295;
	padding: 4px;
}

.markdown-view code {
	color: var(--bs-code-color);
}

/* Tooltips */

.tooltip:has(.memoryTooltip) {
	user-select: none;
}

.tooltip:has(.memoryTooltip):hover {
	opacity: 0.1 !important;
}

/* Hot Toasts */

.toaster-wrapper > div {
	display: none !important;
}
.toaster-wrapper > div:first-child {
	display: flex !important;
}

.toast-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* ImageDiff */

.ImageDiff__before {
	box-sizing: content-box;
}

.ImageDiff__after {
	box-sizing: content-box;
}
